<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/day4.css')}}">

  <title>signup form  </title>
</head>
<body>
<div class="container">

    <form id="signup">

        <div class="header">
        
            <h3>signup form </h3>
            
            <p>You want to fill out this form</p>
            
        </div>
        
        <div class="sep"></div>

        <div class="inputs">
        
            <input type="fullname" placeholder="fullname" autofocus />
        
            <input type="username" placeholder="username" />

             <input type="email" placeholder="email" autofocus />
        
            <input type="password" placeholder="Password" />


            <div class="checkboxy">
                <input name="cecky" id="checky" value="1" type="checkbox" /><label class="terms">I accept the terms of use</label>
            </div>
            
            <a id="submit" href="#">login form </a>
        
        </div>

    </form>

</div>
​
</body>
</html>
